html,body {
        background-color: #000;
        color: #fff;
        font-family: helvetica, arial, sans-serif;
        margin: 0;
        padding: 0;
        font-size: 12pt;
}

#canvas {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 1px solid #555;
        outline: none;
}
#chat {
        position: absolute;
        left: 50%;
        /*right: 0;*/
        top: 50%;
        /*bottom: 0;*/
        margin: auto;
        /*border: 1px solid red;*/
}
#input {
        display: none;
        position: relative;
        left: -50%;
        top: 100px;
        width: 300px;
}

.say {
        color: white;
}

.tell {
        color: #E774E0;
}

.info {
        color: #FFFF00;
}